{% assign video_name = include.name | strip_html %}
{% assign found_video = null %}

{% for video in site.videos %}
  {% if video.title == video_name %}
    {% assign found_video = video %}
    {% break %}
  {% elsif video.lowercase_title == video_name %}
    {% assign found_video = video %}
    {% break %}
  {% endif %}
{% endfor %}

{% if found_video %}
  {% assign video_src = found_video.embed.url %}
  
  {% assign formatted_date = found_video.date | date: "%B %d, %Y" %}
  
  {% include content-embed.html
    src=video_src
    title=found_video.title
    author=found_video.author
    date=formatted_date
    url=found_video.url
  %}
{% else %}
  <div class="error">Video not found: "{{ video_name }}"</div>
{% endif %}
